#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "arch" -}}
echo "Update and install packages for Arch..."
sudo pacman -S --needed --noconfirm git neovim zsh hyprland hyprpaper hypridle hyprlock xdg-desktop-portal-hyprland hyprpolkitagent dolphin udiskie dunst kanshi waybar pnpm grim slurp ttf-jetbrains-mono-nerd mpv papirus-icon-theme

echo "install ms fonts"
yay -S ttf-ms-fonts

{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
echo "Update and install packages for Ubuntu..."
sudo apt update && sudo apt install -y git neovim zsh hyprland hyprpaper hypridle hyprlock xdg-desktop-portal-hyprland hyprpolkitagent dolphin udiskie dunst kanshi waybar pnpm 

{{ end -}}
{{ end -}}
